# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django

### Django ###
*.log
*.pot
*.pyc
secret.py
__pycache__/
env/
static-root/
media-root/
/static/
/media/
data/
.mypy_cache/
.env
### Celery ###
*.pid

girosapp.code-workspace

